<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="back/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css"/>
    <link rel="stylesheet" href="../../static/css/my.css"/>
    <title>博客管理</title>
</head>
<body>
    <!--导航-->
    <nav th:replace="back/_fragments :: menu(0) "></nav>
    <!--中部-->
    <div class="m-container m-padded-tb-bog">
        <div class="ui container">
            <div class="ui success lage message">
                <h3>Hi</h3>
                <p>杨超超，欢迎登录!</p>
            </div>
            <img src="https://picsum.photos/id/669/1000/600" alt="" class="ui rounded bordered fluid image">
        </div>
    </div>
    <!--页脚-->
    <footer th:replace="back/_fragments :: footer"></footer>
</body>
<!--js-->
<!--/*/<th:blocak th:replace="back/_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:blocak>/*/-->
<script>
    /*按钮点击，展示导航*/
    $('.menu.toggle').click(function (){
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
</script>
</html>